@model MVCCoachBuster.Models.GrupoEjercicios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GrupoEjercicios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
      
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URLVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URLVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrucciones)
        </dd>
    </dl>
</div>
<div>
    <partial name="Acciones/_Details" model="Model.Id" />
</div>
