@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using MVCCoachBuster.ViewModels
@model ListadoViewModel<GrupoEjercicios>

@{
    ViewData["Title"] = "Ejercicios";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-hover table-bordered table-striped">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].URLVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Instrucciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registros) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrucciones)
            </td>
            <td>
                    <partial name="Acciones/_Crud" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>

<!--Elemento de paginación-->
@Html.PagedListPager(Model.Registros,page=>Url.Action("Index", new {
    Pagina=page,
    TerminoBusqueda=Model.TerminoBusqueda
}),
    new PagedListRenderOptions{
        LiElementClasses = new string[]{"page-item"},
        PageClasses = new string[]{"page-link"}
    }
)
