@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using MVCCoachBuster.ViewModels
@model ListadoViewModel<Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Usuario",
    Total = Model.Total
})

<table class="table table-hover table-bordered table-striped">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Registros)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre)
            </td>
            <td>
                    <partial name="Acciones/_Crud" model="@item.Id" />
                    <a asp-action="CambiarContrasena" asp-route-id="@item.Id" class="btn btn-warning">
                        <i class="fa-solid fa-kay"></i>&nbsp;Contrase&ntilde;a
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Elemento de paginación-->
@Html.PagedListPager(Model.Registros,page=>Url.Action("Index", new {
    Pagina=page,
    TerminoBusqueda=Model.TerminoBusqueda
}),
    new PagedListRenderOptions{
        LiElementClasses = new string[]{"page-item"},
        PageClasses = new string[]{"page-link"}
    }
)
