@model MVCCoachBuster.Models.Plan

@{
    ViewData["Title"] = "eliminar Plan: " +Model.Nombre;
}

<h3>¿Estás seguro de @ViewData["Title"]?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entrenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entrenador.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <partial name="Acciones/_Delete" />
    </form>
</div>
