
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using MVCCoachBuster.ViewModels
<!-- Index deja de ser IEnumerable sino ListadoViewModel-->
@model ListadoViewModel<Plan>
@{
    ViewData["Title"] = "Planes";
    
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Plan",
    Total = Model.Total
})


<table class="table table-hover table-bordered table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].Suscrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].entrenador)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registros) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suscrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entrenador.Nombre)
            </td>
           
            <td>
                    <partial name="Acciones/_Crud" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
