@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using MVCCoachBuster.ViewModels
@model ListadoViewModel<WodXEjercicio>


@{
    ViewData["Title"] = "Listado Wod x Ejercicio";
}

<h1>@ViewData["Title"]</h1>
<hr>


@foreach (var grupo in Model.Registros.GroupBy(item => item.Wod.Nombre))
{
    <div class="card">
        <div class="card-header" id="heading@grupo.Key">
            <h4 class="mb-0">
                <button class="btn btn-link" type="button" >
                    @grupo.Key
                </button>
            </h4>
        </div>
        <div id="collapse@grupo.Key" style="display: none;">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Grupo de Ejercicios</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in grupo)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrupoEjercicios.Nombre)
                                </td>
                                <td>
                                    <partial name="Acciones/_Crud" model="@item.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


<!--Elemento de paginación-->
@Html.PagedListPager(Model.Registros,page=>Url.Action("Index", new {
    Pagina=page,
    TerminoBusqueda=Model.TerminoBusqueda
}),
    new PagedListRenderOptions{
        LiElementClasses = new string[]{"page-item"},
        PageClasses = new string[]{"page-link"}
    }
)
<!--
<script>
    function toggleCollapse(collapseId) {
        var collapse = document.getElementById(collapseId);
        if (collapse.style.display === "none") {
            collapse.style.display = "block";
        } else {
            collapse.style.display = "none";
        }
    }
</script>
-->