@model MVCCoachBuster.Models.Wod

@{
    ViewData["Title"] = "Crear Wod";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-route-diaId="@ViewBag.DiaId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre">Nombre del Wod</label>
                <input asp-for="Nombre" class="form-control" />
            </div>
            <input type="hidden" name="planId" value="@ViewBag.planId" />
            <div class="form-group">
                <!-- <label asp-for="DiaId" type="hidden" class="control-label"></label>-->
                <input type="hidden"  asp-for="IdDia" class="form-control" readonly /> <!-- Mostrar el valor de DiaId como solo lectura -->
            </div>

            <!-- Agregar selección de ejercicios -->
            <div class="form-group">
                <label>Selecciona los ejercicios:</label>
                <a class="btn btn-primary" asp-action="Create" asp-controller="GrupoEjercicios">
                    <i class="fa-solid fa-add"></i>&nbsp;Añadir Ejercicio
                </a>
                @foreach (var grupoEjercicio in ViewBag.GrupoEjercicios)
                {
                    <div class="list-group">
                        <div class="list-group-item">
                        <input type="checkbox" name="selectedGrupoEjercicios" value="@grupoEjercicio.Id" />
                        <a href="javascript:void(0);" onclick="openModal('instruccionesModal-@grupoEjercicio.Id')">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        @grupoEjercicio.Nombre
                        </div>
                    </div>
                }
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Crear Wod con GrupoEjercicios</button>
        </form>
    </div>

</div>



@foreach (var grupoEjercicio in ViewBag.GrupoEjercicios)
{
    <div id="instruccionesModal-@grupoEjercicio.Id" class="modal" style="display: none;" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instrucciones</h5>
                    <button type="button" class="btn-close" onclick="closeModal('instruccionesModal-@grupoEjercicio.Id')"></button>
                </div>
                <div class="modal-body">
                    <p>Instrucciones: @grupoEjercicio.Instrucciones</p>
                    <p>Video: @grupoEjercicio.URLVideo</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal('instruccionesModal-@grupoEjercicio.Id')">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}



<script>
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";

        // Agregar un manejador de eventos para cerrar el modal al hacer clic fuera de él
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal(modalId);
            }
        };
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";

        // Eliminar el manejador de eventos para evitar cierres no deseados
        window.onclick = null;
    }

</script>