@model MVCCoachBuster.Models.Wod

@{
    ViewData["Title"] = "Detalles";
}

<h4>@ViewData["Title"]</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia.Id)
        </dd>
    </dl>
</div>
<div>
    <partial name="Acciones/_Details" model="Model.Id" />
</div>
