@model MVCCoachBuster.Models.Wod

@{
    ViewData["Title"] = "Editar Wod";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre">Nombre del Wod</label>
                <input asp-for="Nombre" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="DiaId">Día</label>
                <input asp-for="DiaId" class="form-control" readonly />
            </div>

            <!-- Agregar selección de ejercicios -->
            <div class="form-group">
                <label>Selecciona los ejercicios:</label>
                @foreach (var grupoEjercicio in ViewBag.GrupoEjercicios)
                {
                    var isSelected = Model.WodXEjercicio.Any(x => x.GrupoEjerciciosId == grupoEjercicio.Id);
                    <div class="list-group">
                        <div class="list-group-item">
                            <input type="checkbox" name="selectedGrupoEjercicios" value="@grupoEjercicio.Id" @(isSelected ? "checked" : "") />
                            @grupoEjercicio.Nombre
                        </div>
                    </div>
                }
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Actualizar Wod con GrupoEjercicios</button>
        </form>
    </div>
</div>