@using MVCCoachBuster.ViewModels
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model ListadoViewModel<Suscripcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-hover table-bordered table-striped">
    <thead class="bg-secondary text-white ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].IdPlan)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registros) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlan)
            </td>


        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model.Registros, page => Url.Action("Index", new {
    Pagina = page,
    TerminoBusqueda = Model.TerminoBusqueda
}),
new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
