@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using MVCCoachBuster.ViewModels
@model ListadoViewModel<Plan>

@{
    ViewData["Title"] = "Mi listado";
}

<h1>@ViewData["Title"]</h1>

@if(Model.Registros.Count == 0)
{
    <p>No estás inscrito en ningún plan.</p>
}
else
{
    <div class="row">
        @foreach (var plan in Model.Registros)
        {
            <div class="col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/images/@plan.Foto" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@plan.Nombre</p>
                                    <p class="text-muted mb-0">@plan.Descripcion</p>
                                </div>
                            </div>
                            <span class="badge rounded-pill badge-secondary">@plan.Precio</span>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                        <a class="btn btn-link m-0 text-reset" href="#" role="button" data-ripple-color="primary">@plan.Entrenador<i class="fa-solid fa-user-tie ms-2"></i></a>
                        <a asp-action="Delete" asp-route-id="@plan.Id" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>&nbsp;Abandonar
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Html.PagedListPager(Model.Registros, page => Url.Action("ListaPlanesSuscritos", new {
    Pagina = page,
    TerminoBusqueda = Model.TerminoBusqueda
}),
new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
