@model MVCCoachBuster.Models.Dia

@{
    ViewData["Title"] = "Create";
}



<h1>Calendario Días</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Campo oculto para PlanId -->
            @if (ViewBag.planId != null)
            {
                <input type="hidden" name="planId" value="@ViewBag.planId" />
            }
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <div class="container">
        <div class="row">
            @foreach (var dia in ViewBag.Dias)
            {
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">
                                   @dia.Nombre 
                        </h5>
                        <p class="card-text">
                                <a asp-action="Delete" asp-route-id="@dia.Id">
                                    <i class="fas fa-trash-alt"></i> 
                                </a>
                                <a class="btn btn-primary me-3" asp-controller="Wods" asp-action="Create" asp-route-diaId="@dia.Id" asp-route-planId="@ViewBag.planId">
                                    <i class="fas fa-plus"></i>&nbsp; Workout
                                </a>

                                <ul>
                                    @if (dia != null && dia.Wod != null)
                                    {
                                        @foreach (var wod in dia.Wod)
                                        {
                                            <li>@wod.Nombre
                                                <a asp-controller="Wods" asp-action="Edit"  asp-route-id="@wod.Id">
                                                    <i class="fa-solid fa-square-pen"></i></a>
                                                <a asp-controller="Wods" asp-action="Delete" asp-route-id="@wod.Id">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>No hay Wods disponibles.</li>
                                    }
                                </ul>
                        </p>
                    </div>
                </div>
            </div>
            }
        
        </div>

    </div>
</div>

<br />
<a onclick="window.history.back();" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>
<br />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
