@model MVCCoachBuster.Models.Dia

@{
    ViewData["Title"] = "Detalles del Día";
}

<h3>@Model.Nombre</h3>

<div>
    <p>Progreso: @ViewBag.WodsCompletados / @ViewBag.TotalWods</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @(ViewBag.WodsCompletados * 100 / ViewBag.TotalWods)%;" aria-valuenow="@ViewBag.WodsCompletados" aria-valuemin="0" aria-valuemax="@ViewBag.TotalWods"></div>
    </div>
</div>

<div class="container">
    @foreach (var wod in Model.Wod)
    {
        <div class="card border-primary mb-4 ">
            <input class="form-check-input position-absolute top-0 end-0 m-3" type="checkbox" id="wod-@wod.Id" onchange="updateProgress(@wod.Id)">
            <div class="card-header">@wod.Nombre</div>
            <div class="card-body ">
                <ul>
                    @foreach (var wodXEjercicio in wod.WodXEjercicio)
                    {
                        <li>
                            @wodXEjercicio.GrupoEjercicios.Nombre
                            <a href="javascript:void(0);" onclick="openModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')">
                                <i class="fas fa-sticky-note fa-lg"></i>
                            </a>
                            <a href="@wodXEjercicio.GrupoEjercicios.URLVideo" target="_blank">
                                <i class="fas fa-video fa-lg"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>

@foreach (var wod in Model.Wod)
{
    foreach (var wodXEjercicio in wod.WodXEjercicio)
    {
        <div id="instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id" class="modal" style="display: none;" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Instrucciones</h5>
                        <button type="button" class="btn-close" onclick="closeModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')"></button>
                    </div>
                    <div class="modal-body">
                        <p>Instrucciones: @wodXEjercicio.GrupoEjercicios.Instrucciones</p>
                        <p>Video: @wodXEjercicio.GrupoEjercicios.URLVideo</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<a onclick="window.history.back();" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function updateProgress(wodId) {
        $.ajax({
            type: 'POST',
            url: '/Dias/UpdateProgress',
            data: { wodId: wodId },
            success: function (result) {
                // Actualizar la interfaz de usuario según sea necesario
                // Puedes manejar la lógica de actualización de la barra de progreso aquí
            },
            error: function (error) {
                console.error('Error al actualizar el progreso:', error);
            }
        });
    }

    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";

        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal(modalId);
            }
        };
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
        window.onclick = null;
    }
</script>