@model MVCCoachBuster.Models.Dia

@{
    ViewData["Title"] = "Detalles del Día";
}


<h3>@Model.NumDias</h3>


<div class="container">
    <div class="progress" style="height: 20px;">
        <div class="progress-bar bg-primary" role="progressbar" style="width: @(ViewBag.WodProgreso)%" aria-valuenow="@(ViewBag.WodProgreso)" aria-valuemin="0" aria-valuemax="@(Model.Wod.Count)"></div>
    </div>
    @foreach (var wod in Model.Wod)
    {
        <div class="card border-primary mb-4 ">
            <input class="form-check-input position-absolute top-0 end-0 m-3" type="checkbox" id="wod-@wod.Id" @(wod.IsCompleted ? "checked" : "") onchange="marcarWodComoCompletado(@wod.Id, this.checked)">
            <div class="card-header">@wod.Nombre</div>
            <div class="card-body ">
           
                <ul>
                    @foreach (var wodXEjercicio in wod.WodXEjercicio)
                    {
                        <li>
                      
                            @wodXEjercicio.GrupoEjercicios.Nombre
                            <a href="javascript:void(0);" onclick="openModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')">
                                <i class="fas fa-sticky-note fa-lg"></i>
                            </a>
                            <a href="@wodXEjercicio.GrupoEjercicios.URLVideo" target="_blank">
                                <i class="fas fa-video fa-lg"></i>
                            </a>
                        </li>
               
                   
                    }
                </ul>
            </div>


  
        </div>
    }
</div>


@foreach (var wod in Model.Wod)
{
    @foreach (var wodXEjercicio in wod.WodXEjercicio)
    {
        <div id="instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id" class="modal" style="display: none;" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Instrucciones</h5>
                        <button type="button" class="btn-close" onclick="closeModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')"></button>
                    </div>
                    <div class="modal-body">
                        <p>Instrucciones: @wodXEjercicio.GrupoEjercicios.Instrucciones</p>
                        <p>Puntaje: @wodXEjercicio.GrupoEjercicios.Puntuacion</p>
                        <p>Video: @wodXEjercicio.GrupoEjercicios.URLVideo</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('instruccionesModal-@wodXEjercicio.GrupoEjercicios.Id')">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}



<a onclick="window.history.back();" class="btn btn-secondary">
    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>
<script>
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";

        // Agregar un manejador de eventos para cerrar el modal al hacer clic fuera de él
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal(modalId);
            }
        };
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";

        // Eliminar el manejador de eventos para evitar cierres no deseados
        window.onclick = null;
    }
    function marcarWodComoCompletado(wodId, completado) {
        $.ajax({
            url: '@Url.Action("MarcarWodComoCompletadoWod", "Dias")',
            type: 'POST',
            data: { wodId: wodId, completo: completado },
            success: function (data) {
                if (data.success) {
                    // Actualiza el estado del WOD en la vista
                    var checkbox = $("#wod-" + wodId);
                    checkbox.prop("checked", data.isCompleted);

                    // Actualiza la barra de progreso de los WOD
                    var progressBar = $(".progress-bar");
                    var wodsCompletados = $("input:checked").length;
                    var totalWods = $("input").length;
                    var wodProgreso = (wodsCompletados * 100) / totalWods;
                    progressBar.css("width", wodProgreso + "%");
                    progressBar.attr("aria-valuenow", wodsCompletados);
                } else {
                    // Maneja errores o notifica al usuario
                }
            }
        });
    }




</script>